/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Rubik+Bubbles&family=Whisper&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}


/* Header */
header {
    background-color: #053718;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.8);
}


a {
    box-shadow: inset 0 0 0 0 #ffffff;
    color: #ffffff;
    margin: 0 -.25rem;
    padding: 0 1rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    border-radius: 50%;
}

a:hover {
    box-shadow: inset 100px 0 0 0 #ffffff;
    color: #053718;
}

/* Main  */
main {
    background-color: rgb(235, 213, 23);
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: chartreuse;
    position: sticky;
    bottom: 0;
}