/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Rubik+Bubbles&family=Whisper&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: .3s;
}


/* Header */
header {
    background-image: linear-gradient(to right top, #053718, #00302a, #00262e, #131c24, #141414);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 5px 5px #141414;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}


#menu {
    font-size: 120%;
    letter-spacing: 3px;
    list-style-type: none;
    padding-left: 12.8px;

}

#menu>li {
    margin-bottom: 1em;
}

.active {

    border-bottom: 2px solid #ffffff;
    border-top: 2px solid #ffffff;

}

a.transition {
    box-shadow: inset 0 0 0 0 #ffffff;
    color: #ffffff;
    margin: 0 -.25rem;
    padding: 0.2rem 0.5rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    border-radius: 50%;

}



/* Navbar dropdown */
nav {
    position: absolute;
    background-image: linear-gradient(to right bottom, #053718, #00302a, #00262e, #131c24, #141414);
    width: 100%;
    left: 0;
    box-shadow: 0 5px 5px #141414;
    display: none;
    top: 100%;


}

/* Navbar toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Main  */
main {

    flex: 1 0 auto;
    margin-top: 52px;
    position: relative;


}

/* Background image section */
#king {
    height: 600px;
    width: 100%;
    background: url("../images/white-game-statue.jpg") no-repeat center center/cover;
    color: #ffffff;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
    position: relative;

}

.king {
    position: absolute;
    bottom: 20%;
    padding-left: 50px;
    width: 90%;
}

/* Audio */
audio {
    width: 100%;
    background-color: #053718;
    border: 3px solid #053718;

}

/* Content Main */
#main-content {
    color: #053718;
}


.content-part h2 {
    color: #053718;
    text-align: center;
    padding: 20px 0;

}

.content-part h3 {
    color: #053718;
    text-align: center;

}

.content-part p {
    padding: 0 30px;

}


/* Contact section */
#contact {
    color: #053718;
    margin: 30px;
}

#contact h2 {
    color: #053718;
}

#contact h3 {
    color: #053718;
}

/* Footer */
footer {
    background-image: linear-gradient(to right top, #053718, #00302a, #00262e, #131c24, #141414);
    position: sticky;
    bottom: 0;
    box-shadow: 0 -5px 5px #141414;

}

i {
    color: #ffffff;
}

#social-networks {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#social-networks i {
    font-size: 170%;
    transition: .3s;

}

/* Media query for tablets and larger screens (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        background-image: none;
        box-shadow: none;
        padding-right: 1.5rem;
    }

    #menu {
        display: flex;

    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 80px;
        margin: 0 0.7rem;

    }

    /* MAIN CONTENT */
    main {
        margin-top: 82px;
    }

    /* Cover Section */
    #king {
        height: 700px;
    }

    .king {
        font-size: 200%;
    }

    /* Content Main */
    .content-part {
        font-size: 120%;
    }

    /* Contact Section */
    #contact {
        font-size: 120%;
    }

}

/* Media query for tablets and larger screens (992px and up) */
@media screen and (min-width: 992px) {

    /*Header*/
    #social-networks i:hover {
        font-size: 250%;


    }

    #logo:hover {
        font-size: 300%;
        text-shadow: 4px 4px 2px rgba(196, 212, 95, 0.8);
    }

    a.transition:hover {
        box-shadow: inset 100px 0 0 0 #ffffff;
        color: #053718;
    }

    /* Main Content */
    #king {
        height: 800px;

    }

    .king {
        font-size: 400%;
    }

    /* Content Main */
    .content-part {
        font-size: 200%;
    }

    /* Contact Section */
    #contact {
        font-size: 200%;
    }

}

/* Media query for large screens (1160px and up) */
@media screen and (min-width: 1160px) {
    #king {
        height: 1050px;
    }
}