/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Rubik+Bubbles&family=Whisper&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}


h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: .3s;
}

p a {
    font-family: 'Oswald', sans-serif;
    box-shadow: inset 0 0 0 0 #ffffff;
    color: #053718;
    margin: 0 -.25rem;
    padding: 0.2rem 0.5rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

    text-decoration: none;
    border-radius: 50%;

}



/* Header */
header {
    background-image: linear-gradient(to right top, #053718, #00302a, #00262e, #131c24, #141414);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 5px 5px #141414;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}


#menu {
    font-size: 120%;
    letter-spacing: 3px;
    list-style-type: none;
    padding-left: 12.8px;

}

#menu>li {
    margin-bottom: 0.5em;
}

.active {

    border-bottom: 2px solid #ffffff;
    border-top: 2px solid #ffffff;

}

a.transition {
    box-shadow: inset 0 0 0 0 #ffffff;
    color: #ffffff;
    margin: 0 -.25rem;
    padding: 0.2rem 0.5rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

    text-decoration: none;
    border-radius: 50%;

}



/* Navbar dropdown */
nav {
    position: absolute;
    background-image: linear-gradient(to right bottom, #053718, #00302a, #00262e, #131c24, #141414);
    width: 100%;
    left: 0;
    box-shadow: 0 5px 5px #141414;
    display: none;
    top: 100%;


}

/* Navbar toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Main  */
main {

    flex: 1 0 auto;
    margin-top: 52px;
    position: relative;
    display: flex;
    flex-direction: column;

}

/* Background image section */
#king {
    min-height: 100vh;
    background: url("../images/chess_king_1920px.jpg") no-repeat center center/cover;
    background-attachment: fixed;
    color: #ffffff;
    text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.6);
    position: relative;

}

.king {
    position: absolute;
    bottom: 50%;
    padding-left: 50px;
    width: 90%;
}


/* Content Main */
#main-content {
    color: #053718;
}


.content-part h2 {
    color: #053718;
    text-align: center;
    padding: 20px 0;

}

.content-part {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-part h3 {
    color: #053718;
    text-align: center;
    padding: 20px 0;

}

.content-part p {
    padding: 20px 30px;

}

img {
    width: 80%;
}

.container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;

}

.container iframe {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* History page */

#history {

    line-height: 2rem;
    height: 100%;


}

.history-section {
    margin: 40px 5%;
    padding: 15px 10px;
    background-image: linear-gradient(to right bottom, #053718, #00302a, #00262e, #131c24, #141414);
    text-align: center;
    border-radius: 20px;
}

/*Sign Up Page*/

/* Contact section Sign Up Page*/

#signup {
    background: linear-gradient(135deg, #2b953f 25%, transparent 25%), linear-gradient(225deg, #2b953f 25%, transparent 25%), linear-gradient(315deg, #2b953f 25%, transparent 25%), linear-gradient(45deg, #2b953f 25%, transparent 25%);
    background-size: 3em 3em;
    background-color: #223529;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#signup-form {
    color: #ffffff;
    background-color: #223529;
    padding: 30px;
    align-self: center;
    border-radius: 15px;
    border: 2px solid #45feaf;
}

#signup-form>h2 {
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #ffffff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;

    border-radius: 3px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.join-button {
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #ffffff;
    color: #223529;
}

label {

    padding-right: 5px;
}

input {
    border: 1px solid #fe4567;

}

input:valid {
    border-color: #45feaf;

}

#contact {
    color: #053718;
    margin: 30px;
}

#contact h2 {
    color: #053718;
}

#contact h3 {
    color: #053718;
}



/* Footer */
footer {
    background-image: linear-gradient(to right top, #053718, #00302a, #00262e, #131c24, #141414);
    position: sticky;
    bottom: 0;
    box-shadow: 0 -5px 5px #141414;
    line-height: 25px;

}

i {
    color: #ffffff;
}

#social-networks {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#social-networks i {
    font-size: 170%;
    transition: .3s;

}

/* Media query for tablets and larger screens (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        background-image: none;
        box-shadow: none;
        padding-right: 1.5rem;
    }

    #menu {
        display: flex;

    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 90px;
        margin: 0 0.7rem;


    }



    /* MAIN CONTENT */
    main {
        margin-top: 82px;
    }

    /* Cover Section */
    #king {
        height: 700px;
    }

    .king {
        font-size: 200%;
    }

    /* Content Main */
    .content-part {
        font-size: 120%;
    }

    /* Sign Up Form */
    #signup {
        background-position: center;
        position: relative;

    }

    #signup-form {
        max-width: 600px;
        position: absolute;
        font-size: 150%;

    }

    .text-input:hover {
        border-color: #ffee00;
        opacity: 0.7;
    }

    .join-button:hover {
        background-color: #45feaf;
        color: #053718;
        opacity: 0.7;
    }

    /* Contact Section */
    #contact {
        font-size: 120%;
    }

}

/* Media query for tablets and larger screens (992px and up) */
@media screen and (min-width: 992px) {

    /*Header*/
    #social-networks i:hover {
        transform: scale(1.5);


    }

    #logo:hover {

        text-shadow: 4px 4px 2px #45feaf;
        transform: scale(1.2);
    }

    a.transition:hover {
        box-shadow: inset 100px 0 0 0 #ffffff;
        color: #053718;

    }



    /* Main Content */
    #king {
        height: 800px;

    }

    .king {
        font-size: 300%;
    }

    /* Content Main */
    .content-part {
        font-size: 200%;
    }

    p a:hover {
        box-shadow: inset 100px 0 0 0 #053718;
        color: #ffffff;
    }

    /* History Section */

    .history-section {
        font-size: 200%;
    }

    .history-section p {
        line-height: 3rem;
    }

    .history-section h2,
    h3 {
        padding: 3rem;
    }

    /* Sign UP &Contact Section */
    #contact {
        font-size: 150%;
    }



}

/* Media query for large screens (1160px and up) */
@media screen and (min-width: 1160px) {
    #king {
        height: 1050px;
    }
}